.Chat-msg-text {
  padding: 0.5em;
  border-radius: 10px;
  border: 2px solid #DBDBDB;
  max-width: 600px; }

.Chat-msg-avatar {
  border-radius: 50%; }

@media (min-width: 0px) and (max-width: 320px) {
  html {
    font-size: 62.5%; }
  .ChatSideBar {
    display: none;
    visibility: hidden; }
  .Logo {
    max-width: 60%; }
  .MainHeader {
    padding: 1rem; } }

@media (min-width: 321px) and (max-width: 638px) {
  html {
    font-size: 62.5%; }
  .ChatSideBar {
    display: none;
    visibility: hidden; }
  .Logo {
    max-width: 60%; }
  .MainHeader {
    padding: 1rem; } }

@media (min-width: 639px) {
  html {
    font-size: 100%; }
  .MainHeader {
    padding: 2rem 2rem 2rem 1rem; }
  .Modal {
    width: 20%; }
  .Logo {
    max-width: 30%;
    min-width: 20%; } }

html {
  font-family: 'Nunito', sans-serif;
  font-weight: 400; }

body,
html {
  margin: 0;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%; }

html,
body,
.ChatContainer,
.Chat,
.Chat-msg,
.Chat-sendMessageForm {
  display: flex; }

.ChatContainer {
  flex: 7; }

.ChatSideBar {
  flex: 2;
  background-color: #61D290; }

.Chat {
  flex: 9;
  flex-direction: column;
  background-color: #F6F6F6; }

.MainHeader,
.Chat-header {
  flex: 1; }

.MainHeader {
  background-color: #353744;
  display: flex;
  align-items: center;
  padding: 2rem 2rem 2rem 1rem; }

.Logo {
  float: left; }

.Chat-messages {
  flex: 12;
  overflow-y: auto; }

.Chat-messages ol {
  list-style: none;
  padding: 0; }

.Chat-msg {
  vertical-align: top;
  margin: 1rem; }

.Chat-msg-avatar {
  width: 3em;
  height: 3em;
  float: left;
  margin-right: 1rem; }

.Chat-msg-text {
  background-color: white;
  display: inline-block;
  margin-top: 0; }

.Chat-sendMessageForm {
  flex: 2; }

.Chat-sendMessageFormText {
  flex: 8;
  resize: none;
  outline: none; }

.Chat-sendMessageFormButton {
  background-image: url("../images/send-button.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  flex: 2; }

.Modal {
  border: 1px solid #DBDBDB;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: white;
  padding: 1rem;
  box-shadow: 0 0 1rem 0 black;
  border-radius: 0.1rem;
  display: table; }

.Modal p {
  width: 100%;
  display: inline-flex;
  font-family: inherit; }

.Modal h2 {
  display: table-row;
  font-family: inherit; }

.Modal p label {
  flex: 1;
  font-family: inherit; }

.Modal p input {
  flex: 3;
  padding: 0.3em;
  border-radius: 10px;
  border: 2px solid #DBDBDB;
  font-weight: 700;
  font-size: 1rem;
  outline-style: none;
  font-family: inherit; }

.Modal--anonymous {
  background-image: -moz-linear-gradient(90deg, #B4B4B4 0%, #CFCFCF 100%);
  background-image: -webkit-linear-gradient(90deg, #B4B4B4 0%, #CFCFCF 100%);
  background-image: -ms-linear-gradient(90deg, #B4B4B4 0%, #CFCFCF 100%);
  background-image: -o-linear-gradient(90deg, #B4B4B4 0%, #CFCFCF 100%); }

.Modal--login {
  background-image: -moz-linear-gradient(90deg, #47A272 0%, #7DD84E 100%);
  background-image: -webkit-linear-gradient(90deg, #47A272 0%, #7DD84E 100%);
  background-image: -ms-linear-gradient(90deg, #47A272 0%, #7DD84E 100%);
  background-image: -o-linear-gradient(90deg, #47A272 0%, #7DD84E 100%);
  color: white; }

.Modal--anonymous,
.Modal--login {
  border: 0;
  border-radius: 1px;
  font-size: 1rem;
  font-family: inherit;
  display: inline-block; }

::-webkit-scrollbar {
  width: auto; }

::-webkit-scrollbar-track {
  background: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  border: 2px solid #DBDBDB;
  -webkit-border: 2px solid #DBDBDB; }

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #ebedec;
  border: 2px solid #DBDBDB;
  -webkit-border: 2px solid #DBDBDB; }
