/* -------------------------------------------------------------------------- */
@media (min-width: 0px) and (max-width: 638px) {
  .ChatSideBar {
    display: none; } }

/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- 

.dbg {
  border: 1px solid black;
}
@mixin displayflex($thisDisplayFlex, $thisFlexSize:"", $flexDirection:"", ) {}
/* -------------------------------------------------------------------------- */
.Chat-msg-text {
  padding: 0.5em;
  border-radius: 10px;
  border: 2px solid #DBDBDB; }

.Chat-msg-avatar {
  border-radius: 50%; }

/* -------------------------------------------------------------------------- */
html {
  font-family: 'Nunito', 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 1em; }

html,
body {
  margin: 0;
  height: 100%;
  flex-direction: column;
  overflow: hidden; }

html,
body,
.ChatContainer,
.Chat,
.Chat-msg,
.Chat-sendMessageForm {
  display: flex; }

.ChatContainer {
  flex: 7;
  overflow: auto; }

/* -------------------------------------------------------------------------- */
.ChatSideBar {
  flex: 2;
  background-color: #61D290; }

/* -------------------------------------------------------------------------- */
.Chat {
  flex: 9;
  flex-direction: column;
  background-color: #F6F6F6; }

.MainHeader,
.Chat-header {
  flex: 1; }

.MainHeader {
  background-color: #353744;
  background-image: url("logoDesktop.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
  border: solid 0.1em;
  border-color: #353744;
  padding: 0.2em; }

.Chat-messages {
  flex: 12;
  overflow-y: auto; }

.Chat-messages ol {
  list-style: none;
  padding: 0; }

/* -------------------------------------------------------------------------- */
.Chat-msg {
  vertical-align: top;
  margin: 1em; }

.Chat-msg-avatar {
  width: 3em;
  height: 3em;
  float: left;
  margin-right: 1em; }

.Chat-msg-text {
  background-color: white;
  display: inline-block;
  margin-top: 0; }

/* -------------------------------------------------------------------------- */
.Chat-sendMessageForm {
  flex: 2;
  min-height: 1em; }

.Chat-sendMessageFormText {
  flex: 8;
  resize: none; }

.Chat-sendMessageFormButton {
  background-image: url("send-button.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  flex: 2; }

/* -------------------------------------------------------------------------- */
.Growable {
  position: relative;
  border: 1px solid;
  max-height: 300px;
  overflow: hidden;
  -webkit-scrollbar: red; }

.Growable textarea,
.Growable pre {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 0.5em; }

.Growable textarea {
  width: 100%;
  resize: none;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  overflow: visible; }

.Modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 600px;
  max-height: 300px;
  box-shadow: 0 0 10px 0 black;
  border-radius: 2px;
  background-image: -moz-linear-gradient(90deg, #47a272 0%, #7dd84e 100%);
  background-image: -webkit-linear-gradient(90deg, #47a272 0%, #7dd84e 100%);
  background-image: -ms-linear-gradient(90deg, #47a272 0%, #7dd84e 100%);
  color: #fefefe; }

/* -------------------------------------------------------------------------- */
::-webkit-scrollbar {
  width: auto; }

::-webkit-scrollbar-track {
  background: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  border: 2px solid #DBDBDB;
  -webkit-border: 2px solid #DBDBDB; }

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #ebedec;
  border: 2px solid #DBDBDB;
  -webkit-border: 2px solid #DBDBDB; }
