/* -------------------------------------------------------------------------- */

@import url(//fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600);

/* -------------------------------------------------------------------------- 

html {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 1em;
  overflow: hidden;
}

html,
body {
  margin: 0;
  height: 100%;
  flex-direction: column;
}


/* -------------------------------------------------------------------------- */

.dbg {
  border: 1px solid black;
}


/* -------------------------------------------------------------------------- 

html,
body,
.ChatContainer,
.Chat,
.Chat-sendMessageArea {
  display: flex;
}

.Chat-sendMessageArea {
  min-height: 1em;
  background-color: hotpink;
  max-height: 300px;
}

.MainHeader,
.Chat-header {
  min-height: 10%;
  max-height: 20%;
}

.ChatContainer {
  flex: 7 auto;
}

.ChatSideBar {
  min-width: 10%;
  max-width: 10%;
}

.Chat {
  flex: 9 auto;
  flex-direction: column;
}

.Chat-messages {
  flex: 12 auto;
  overflow: auto;
}

.Chat-messages ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Chat-sendMessageAreaText {
  flex: 8;
  resize: none;
}

.Chat-sendMessageAreaButton {
  flex: 2;
}

.Chat-messages,
.Chat-header {
  background-color: #F6F6F6;
}

.MainHeader {
  background-color: #353744;
}

.ChatSideBar {
  background-color: #61D290;
}
/* -------------------------------------------------------------------------- */

.container {
  border: 1px solid silver;
  max-height: 300px;
}

.container .text {
  resize: none;
  outline: none;
  width: 100%;
  height: 100%;
  border: none;
  min-height: 1em;
}

html,
body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.upper {
  flex: 27;
}

.cont {
  flex: 2;
  flex-grow: 8;
  flex-shrink: 2;
  background-color: darkmagenta;
  width: 100%;
  max-height: 300px;
}

.divtext {
  resize: none;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  opacity: 0.5;
}
