@import 'fonts.scss';
@import 'screen.scss';
@import 'variables.scss';
@import 'utils.scss';
@import 'functions.scss';
html,
h1>* {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}

body,
html {
    margin: 0;
    flex-direction: column;
    width: 100%;
    height: 100%;
    display: flex;
}

h1 {
    font-size: 1.875rem;
    margin-top: 0;
}

h2 {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.MainHeader {
    background-color: #353744;
    display: flex;
    align-items: center;
    padding: 1rem;
}

.Logo {
    float: left;
}

.Modal {
    border: 1px solid $c-border;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: $c-modalBackground;
    padding: 3rem;
    box-shadow: 0 0 1rem 0 black;
    border-radius: 0.1rem;
    display: table;
}

.Modal p {
    width: 100%;
    display: inline-flex;
    align-items: center;
    margin-top: 0;
}

.Modal p label {
    flex: 1;
    color: $c-msgText;
}

.Modal p label,
input {
    font-weight: 700;
}

.Modal p input {
    flex: 3;
    padding: 0.4em;
    border-radius: $borderRadius;
    border: 2px solid $c-border;
    outline-style: none;
}

.Modal-buttons {
    flex-direction: row-reverse;
}

.Modal--anonymous {
    @include gradient($degree, $c-anon-gradient-lower, $c-anon-gradient-upper);
    min-width: 30%;
}

.Modal--login {
    @include gradient($degree, $c-login-gradient-lower, $c-login-gradient-upper);
    color: white;
    min-width: 20%;
}

.Modal--anonymous,
.Modal--login {
    border: 0;
    border-radius: 0.1rem;
    margin-left: 1rem;
    margin-top: 1rem;
}

.ChatContainer,
.Chat,
.Chat-msg,
.Chat-sendMessageForm {
    display: flex;
}

.ChatContainer {
    flex: 7;
    overflow: auto;
}

.ChatSideBar {
    flex: 2;
    background-color: $c-sidebar;
}

.Chat {
    flex: 9;
    flex-direction: column;
    background-color: $c-chatArea;
}

.Chat-header {
    flex: 1;
    display: flex;
    padding: 0.9rem;
}

.Chat-header-title {
    margin: 0;
    align-self: center;
    width: 100%;
}

.Chat-header-stats {
    align-self: center;
    font-size: 1.1rem;
    font-weight: 700;
}

.Chat-header-stats,
dd {
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
}

dd {
    margin-left: 0.5rem;
}

dd>* {
    margin: 0.2rem;
}

.Chat-messages {
    flex: 12;
    overflow-y: auto;
    overflow-x: hidden;
    border-bottom: 0.1rem solid $c-border;
}

.Chat-messages ol {
    list-style: none;
    padding: 0;
}

.Chat-msg {
    vertical-align: top;
    margin: 1rem;
}

.Chat-msg-avatar {
    @extend %u-circle;
    @include dimensions($avatarSize, $avatarSize);
    float: left;
    margin-right: 1rem;
}

.Chat-msg-text {
    @extend %u-rounded-rectangle;
    background-color: white;
    display: inline-block;
    margin-top: 0;
}

.Chat-msg-text p {
    font-size: 1.3rem;
    color: $c-msgText;
    padding: 0;
    margin: 0;
}

.Chat-msg-text header time {
    font-weight: 300;
    color: $c-msgTime;
    margin-left: 0.5rem;
}

.Chat-sendMessageForm {
    flex: 2;
    border-radius: 4px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.Chat-sendMessageFormText {
    flex: 8;
    resize: none;
    border: none;
    outline: none;
}

.Chat-sendMessageFormButton {
    flex: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: white;
    outline: none;
    border: none;
}

.Chat-sendMessageFormButton:active {
    outline: inherit;
}

.Chat-sendMessageFormButton:active:after {
    outline: none;
}
