@import url(//fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600);
html {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 1em;
  overflow: hidden;
}

html,
body {
  margin: 0;
  height: 100%;
  flex-direction: column;
}

.dbg {
  border: 1px;
  border-color: black;
  border-style: solid;
}

html,
body,
.ChatContainer,
.Chat,
.Chat-sendMessageArea {
  display: flex;
}

.MainHeader,
.Chat-header,
.Chat-sendMessageArea,
.Chat-sendMessageArea textarea {
  flex: 1 auto;
}

.ChatContainer {
  flex: 7 auto;
}

.ChatSideBar {
  flex: 2 auto;
}

.Chat {
  flex: 9 auto;
  flex-direction: column;
}

.Chat-messages {
  flex: 12 auto;
}

.Chat-sendMessageArea textarea {
  resize: none;
}

.Chat-messages,
.Chat-header {
  background-color: #F6F6F6;
}

.MainHeader {
  background-color: #353744;
}

.ChatSideBar {
  background-color: #61D290;
}
