@media (min-width:0px) and (max-width:638px) {
    .ChatSideBar {
        display: none;
        visibility: hidden;
    }
    .Chat-msg-text {
        font-size: 1.5rem;
    }
    .Chat-msg-text p {
        word-wrap: break-word;
        word-break: break-all;
    }
    .Logo {
        width: 40%;
    }
    .Modal {
        width: 75%;
        height: 80%;
        overflow-y: auto;
        display: flex;
        flex-flow: column wrap
    }
    .Modal div button {
        display: inline-block;
        float: right;
    }
    .Modal div p label,
    input {
        margin-top: 2rem;
    }
    .Modal-buttons {
        display: table-row;
        float: right;
        flex: 1;

    }
    .Modal-input {
        padding-top: 2rem;

    }
}

@media (min-width:0px) and (max-width:160px) {
    .Modal {
        padding: 0;
    }
    .Modal--anonymous,
    .Modal--login {
        padding: 0;
    }
}

@media (min-width:161px) {

    .Modal--anonymous {
        padding: 0.3rem 0.7rem 0.3rem 0.7rem;
    }
    .Modal--login {
        padding: 0.3rem 2.3rem 0.3rem 2.3rem;
    }
}

@media (min-width:161px) and (max-width:320px) {

    .Modal {
        padding: 2rem;
    }
}

@media (min-width:0px) and (max-width:320px) {
    html {
        font-size: 67.5%;
    }
    .Chat-msgFormButton {
        background: url("../images/send_bg_s.webp");
    }
    .Chat-msg-text,
    .Chat-header-stats,
    .Chat-header,
    dl,
    dd .Modal,
    .Modal div,
    .Modal div button,
    .Modal div p input {
        display: block;
        word-break: break-all;
        word-wrap: break-word;
        min-width: 0%;
    }
    .Modal,
    .Modal div,
    .Modal div p input {
        overflow-y: auto;
    }

    .Modal div p input {
        padding: 0 0 0 0.4rem;
    }
    .Modal-buttons {
        flex: 2;
    }
    .Modal div p label,
    input {
        width: 75%;
    }
    .Chat-msg-avatar {
        float: none;
    }
    cite {
        display: inherit;
    }
    time {
        margin-left: 0;
    }
    .Chat-msgForm {
        flex-flow: column wrap;
    }
    .Chat-msgFormText {
        flex: 1;
    }
}

@media (min-width:321px) {
    .Modal div p input {
        padding: 0.4rem 0.4rem 0.4rem 0.8rem;
    }
}

@media (min-width:321px) and (max-width:638px) {
    html {
        font-size: 72.5%;
    }
    .Chat-msgFormButton {
        background: url("../images/send_bg_m.webp");
    }
    .Chat-header,
    .Chat-msg {
        display: flex;
    }
    .Chat-header-stats,
    dd {
        display: flex;
        flex-flow: row nowrap;
    }
    .Chat-msg-avatar {
        float: left;
    }
    .Chat-msgFormText {
        flex: 8;
    }
    .Modal-buttons {
        flex: 1;
    }
    .Modal p label,
    input {
        display: table-row;
        width: 50%;
    }
    .Modal {
        padding: 4rem;
    }
}

@media (min-width:639px) {
    html {
        font-size: 100%;
    }
    .Logo {
        width: 15%;
    }
    .Modal {
        width: 30%;
        display: table;
        padding: 3rem;
    }
    .Modal-input {
        display: inline-flex;
    }
    .Modal div button {
        display: inline-block;
        float: right;
    }
    .Chat-msgFormText {
        flex: 8;
    }
    .Chat-msgFormButton {
        background: url("../images/send_bg.webp");
    }
    .Chat-header,
    .Chat-msg {
        display: flex;
    }
    .Chat-msg-text p {
        word-wrap: break-word;
    }
    .Chat-header-stats,
    dd {
        display: flex;
        flex-flow: row nowrap;
    }
    .Chat-msg-avatar {
        float: left;
    }
    .ChatSideBar {
        flex: 2;
    }
}

@-moz-document url-prefix() {
    .Chat-msgFormButton {
        background: url(../images/send_bg.png);
    }
}
