@media (max-width:638px) {
    html {
        font-size: 62.5%;
    }
    .ChatSideBar {
        display: none;
        visibility: hidden;
    }
    .Chat-msg-text {
        font-size: 1.5rem;
    }
    .Logo {
        width: 40%;
    }
    .Modal p>* {
        font-size: 1.5rem;
    }
    .Modal {
        width: 60%;
        height: 80%;
    }
}

@media (min-width:0px) and (max-width:320px) {
    .Chat-sendMessageFormButton {
        background: url("../images/send_bg_s.webp");
    }
}

@media (min-width:321px) and (max-width:638px) {
    .Chat-sendMessageFormButton {
        background: url("../images/send_bg_m.webp");
    }
}

@media (min-width:639px) {
    html {
        font-size: 100%;
    }
    .Logo {
        width: 15%;
    }
    .Modal {
        width: 30%;
    }
    .Modal p>* {
        font-size: 1.2rem;
    }
    .Chat-sendMessageFormButton {
        background: url("../images/send_bg.webp");
    }
}

@-moz-document url-prefix() {
    .Chat-sendMessageFormButton {
        background: url(../images/send_bg.png);
    }
}
