$avatarSize: 3em;
$sidebarSize: 18%;
$borderRadius: 1rem;
$c-header: #353744;
$c-sidebar: #61D290;
$c-chatArea: #F6F6F6;
$c-ownMsgHovered: #EBEDEC;
$c-msgText:#646464;
$c-msgTime:#757575;
$c-modalBackground:#F9F9F9;
$c-border:#DBDBDB;
$degree: 90deg;
$c-anon-gradient-lower: #B4B4B4;
$c-anon-gradient-upper: #CFCFCF;
$c-login-gradient-lower: #47A272;
$c-login-gradient-upper: #7DD84E;
