@mixin dimensions($width,
$height) {
    width: $width;
    height: $height;
}

@mixin gradient($deg,
$c-lower,
$c-upper) {
    background-image: -moz-linear-gradient($deg, $c-lower 0%, $c-upper 100%);
    background-image: -webkit-linear-gradient($deg, $c-lower 0%, $c-upper 100%);
    background-image: -ms-linear-gradient($deg, $c-lower 0%, $c-upper 100%);
    background-image: -o-linear-gradient($deg, $c-lower 0%, $c-upper 100%);
}
